<!-- views/home/about.ejs -->

<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>
        <div class="container mb-3">
            <h2 class="mb-3">About</h2>
            <P>이 사이트는 <a href="https://github.com/SoN-B/Node.JS-Board" target="_blank">SoN-B's Github</a>에서작성되었습니다!</p>
            <!-- target="_blank" : 새창열기-->
        </div>
</body>

</html>